{% extends "template.html" %}
{% block title %}Kontakt{% endblock %}
{% block content %}
    <p>
    Über diese Kanäle könnt ihr Kontakt mit uns aufnehmen:
    </p>
    <p>
    <i class="fas fa-envelope"></i><br/>
    Freunde des geordneten Lärms e.V.<br/>
    Am Heinrichsberg 14<br/>
    90587 Veitsbronn<br/>
    </p>
     <p>
         <i class="fas fa-at"></i>&nbsp;<a href="mailto:vorstand@fdgl.rocks">vorstand@fdgl.rocks</a>
     </p>
     <p>
         <i class="fab fa-facebook"></i>&nbsp;<a href="https://www.facebook.com/Fdgl-Freunde-des-geordneten-Lärms-eV-331258777731606/">FdgL bei Facebook</a>
     </p>
     <p>
         <i class="fab fa-mastodon"></i>&nbsp;<a href="https://metalhead.club/@FDGL">FdgL bei Mastodon</a>
     </p>
{% endblock %}
