{% extends "template.html" %}
{% block title %}Kontakt{% endblock %}
{% block content %}
    <p>
    Über diese Kanäle könnt ihr Kontakt mit uns aufnehmen:
    </p>
    <p>
    <i class="fas fa-envelope"></i><br/>
    Freunde des geordneten Lärms e.V.<br/>
    Am Heinrichsberg 14<br/>
    90587 Veitsbronn<br/>
    </p>
     <p>
         <i class="fas fa-at"></i>&nbsp;<a href="mailto:vorstand@fdgl.rocks">vorstand@fdgl.rocks</a>
     </p>
     <p>
         <i class="fab fa-facebook"></i>&nbsp;<a href="https://www.facebook.com/Fdgl-Freunde-des-geordneten-Lärms-eV-331258777731606/">FdgL bei Facebook</a>
     </p>
     <p>
         <i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/fdglev">FdgL bei Twitter</a>
     </p>
     <p>
         <i class="fab fa-youtube"></i>&nbsp;<a href="https://www.youtube.com/channel/UCqkK-zs5GwJ9Ghqlp_iKgvw">FdgL bei YouTube</a>
     </p>
     <p>
         <i class="fab fa-mastodon"></i>&nbsp;<a href="https://metalhead.club/@FDGL">FdgL bei Mastodon</a>
     </p>
     <p>
     Diese Webseite ist freie Software, lizenziert unter der GNU General Public License, Version 3 (GPL v3). Beiträge sind stets willkommen!
     </p>
     <p>
     	 <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/F-D-G-L/fdgl-homepage">Source Code auf GitHub</a>
     </p>
     <p>
         <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/F-D-G-L/fdgl-homepage/issues/new">Einen Fehler berichten oder Ideen für neue Funktionen einreichen</a>
     </p>
{% endblock %}
