<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- CSS -->
    {{ fontawesome_html() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="fotogrid stylesheet" href="{{ url_for('static', filename='css/fotogrid.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body class=post>
    <div id="sidebar">
      <header>
        <div class="site-title">
          <a href="{{ url_for("index") }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Fdgl - Freunde des geordneten Lärms e.V." height="150"/>
            FdgL e.V.
          </a>
        </div>
        <div class="site-subtitle">
            Freunde des geordneten Lärms e.V.
            <hr/>
        </div>
      </header>
        <nav id="sidebar-nav-links">
        <a class="page-link" href="{{ url_for('verein') }}">Verein</a>
        <a class="page-link" href="{{ url_for('index') }}">News</a>
        <a class="page-link" href="{{ url_for('datenschutz') }}">Datenschutz</a>
        <a class="page-link" href="{{ url_for('impressum') }}">Impressum</a>
      </nav>
    </div>
    <main class="container">
      <header>
        <h1 class="post-title">{% block title %}{% endblock %}</h1>
      </header>
      <div class="content">
        <div class="post-body">
          {% block content %}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
          {% endblock content %}
        </div>
      </div>
    </main>
    {{ fontawesome_js() }}
  </body>
</html>
