{% extends "template.html" %}
{% block title %}Verein{% endblock %}
{% block content %}
<p>Wer sind wir?</p>

<p>In erster Linie ein Metal-Verein. Es ist uns egal, welche Hautfarbe, Religion, welches Geschlecht du hast, oder wen (oder was) du liebst. Solange der Metal ein Teil von dir ist. Toleranz wird bei uns großgeschrieben, genauso wie ein gegenseitiges, achtsames Miteinander. Aber auch Toleranz hat ihre Grenzen. Als Rassist, Nazi, oder ähnliches wirst du dich bei uns nicht wohl fühlen. Genauso wenig wie als Hip Hopper ;-)</p>

<p>Was wollen wir</p>

<p>Weil wir Deutschland zu einem besseren Ort machen wollen, weil das auch bedeutet, den Metal zu fördern und weil sich manchmal auch gute Dinge miteinander verbinden lassen:</p>

<ol><li>Spenden von Musikinstrumenten an Kindergärten und Schulen</li><li>Vergabe von Stipendien an Kinder, die gerne Metal spielen würden, ihre Familien sich aber keinen Musikunterricht leisten können</li><li>Kleinen Bands aus der Region bei Auswärtsgigs finanziell unter die Arme greifen</li><li>Stärken des Metal im Raum Mittelfranken durch unseren Beitrag an der Veranstaltungskultur.</li></ol>

<p>Und wann wollen wir das?</p>

<p>Am liebsten sofort! Allerdings benötigen wir dazu aber auch erst einmal das gewisse Kleingeld. Und da seid ihr gefragt! Unterstützt uns durch Spenden, werdet Mitglied, oder besucht einfach unsere Veranstaltungen. </p>

<p>Wir freuen uns natürlich auch, wenn ihr einfach nur zu einer tollen Atmosphäre an unseren Events beitragt, ihr seid herzlich willkommen!</p>
{% endblock %}
